.auth-wrapper {
  background: url('/assets/images/bg/skyline.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.auth-box {

}

.auth-logo {
  text-align: center;
  @extend .blue-text;

  h1 {
    font-size: 9rem;
  }
}

.tabs .tab {
  a {
    color: #b0bec5;
  }
  
  a.active {
    background-color: transparent;
    color: $form-color;
    font-weight: 600;
  }
  a:hover {
    color: $form-color;
  } 
}

.tabs {
  .indicator {
    background-color: $form-color;
  }
}

.forgot-password {
  text-align: right;
  a {
    font-style: italic;
    font-size: 0.85rem;
  }
}