//Overrides
@import '_variables.scss';

// Libraries
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/medium-editor/src/sass/medium-editor.scss';
@import '../../../node_modules/medium-editor/src/sass/themes/beagle.scss';
@import '../../../node_modules/bulma/bulma.sass';

body {
  background: $body-background;
}

@import './_auth.scss';


.icon{
  .left {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }
  .right {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
  }
}

.menu-label {
  margin-top: 1rem;
}

.box {
  border-radius: 3px;
}

.main-panel {
  margin: 0 1rem 1rem 1rem;
}

// Desktop
@media only screen and (min-width: 769px) {
  .main-panel {
    margin: 1.5rem 1.5rem 1.5rem 0;
  }
}
