<!DOCTYPE html>
<html>
<head>
  <title>Qargus</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <meta name="viewport" content="width=device-width" />
  
  <link rel="stylesheet" href="styles.css" />

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="writing">
      <write-page></write-page>
    </div>
    <div v-if="!writing">
      <div v-if="!loggedIn">
        <auth-page></auth-page>
      </div>
      <div v-if="loggedIn">
        <home-page></home-page>
      </div>
    </div>    
  </div>
  <script src="app.js"></script>
</body>
</html>